<a href="https://colab.research.google.com/github/CaioGLima/Estudo-Senai/blob/main/01_11_Senai_Caio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DataSet/StudentsPerformance.csv')

In [ ]:
print(df.columns)

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
translation_dict = {
    'gender': 'gênero',
    'race/ethnicity': 'raça/etnia',
    'parental level of education': 'nível de escolaridade parental',
    'lunch': 'almoço',
    'test preparation course': 'curso de preparação para o teste',
    'math score': 'pontuação em matemática',
    'reading score': 'pontuação em leitura',
    'writing score': 'pontuação em escrita'
}
#Dicionario com colunas traduzidas

In [ ]:
df.rename(columns= translation_dict ,inplace=True)
#renomeção das colunas

In [ ]:
#criação de uma nova coluna, chamada "Pontuação Total"
df['pontuação total'] = df['pontuação em matemática'] + df['pontuação em leitura'] + df['pontuação em escrita']
df.head()

,gênero,raça/etnia,nível de escolaridade parental,almoço,curso de preparação para o teste,pontuação em matemática,pontuação em leitura,pontuação em escrita,pontuação total
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [ ]:
#mostra os 5 primeios head(5) e 5 ultimos (tail)
display(df)

,gênero,raça/etnia,nível de escolaridade parental,almoço,curso de preparação para o teste,pontuação em matemática,pontuação em leitura,pontuação em escrita,pontuação total
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [ ]:
#para ver as informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gênero                            1000 non-null   object
 1   raça/etnia                        1000 non-null   object
 2   nível de escolaridade parental    1000 non-null   object
 3   almoço                            1000 non-null   object
 4   curso de preparação para o teste  1000 non-null   object
 5   pontuação em matemática           1000 non-null   int64
 6   pontuação em leitura              1000 non-null   int64
 7   pontuação em escrita              1000 non-null   int64
 8   pontuação total                   1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [ ]:
print(df.isnull().sum())
#verificação de null, não possue nenhum vazio

gênero                              0
raça/etnia                          0
nível de escolaridade parental      0
almoço                              0
curso de preparação para o teste    0
pontuação em matemática             0
pontuação em leitura                0
pontuação em escrita                0
pontuação total                     0
dtype: int64

#Tipos de tratamentos que podemos fazer:

#Quantidade de gêneros
#Quantidade de gêneros por etnia
#Top estudantes
#Comparação de top homens x mulheres nas matérias

#Value counts na coluna raça etnia, curso de preparação e lvl de escolaridade média por pontuação

In [ ]:
#Quantidade de Generos

df['gênero'].value_counts()

gênero
female    518
male      482
Name: count, dtype: int64

In [ ]:
#Quantidade de Generos por etnia
quant_Gen_Et = df.groupby(['gênero','raça/etnia',]).size().unstack(fill_value=0)
quant_Gen_Et

raça/etnia  group A  group B  group C  group D  group E
gênero
female           36      104      180      129       69
male             53       86      139      133       71

In [ ]:
#Top 10 estudantes pra cima
df_tabela = df.sort_values(by='pontuação total', ascending=False).reset_index(drop=True)
top_3_melhores = df_tabela.head(3)
top_3_melhores

,gênero,raça/etnia,nível de escolaridade parental,almoço,curso de preparação para o teste,pontuação em matemática,pontuação em leitura,pontuação em escrita,pontuação total
0,male,group E,bachelor's degree,standard,completed,100,100,100,300
1,female,group E,associate's degree,standard,none,100,100,100,300
2,female,group E,bachelor's degree,standard,none,100,100,100,300

In [ ]:
#Top 10 estudantes pra baixo
df_tabela = df.sort_values(by='pontuação total', ascending=True).reset_index(drop=True)
top_3_piores = df_tabela.head(3)
top_3_piores

,gênero,raça/etnia,nível de escolaridade parental,almoço,curso de preparação para o teste,pontuação em matemática,pontuação em leitura,pontuação em escrita,pontuação total
0,female,group C,some high school,free/reduced,none,0,17,10,27
1,female,group B,high school,free/reduced,none,8,24,23,55
2,male,group B,high school,free/reduced,none,30,24,15,69

In [ ]:
#Quantidade de melhores alunos por etnia
top_melhores = top_3_melhores['raça/etnia'].value_counts()
top_melhores

raça/etnia
group E    3
Name: count, dtype: int64

In [ ]:
#Quantidade de piores alunos por etnia
top_piores = top_3_piores['raça/etnia'].value_counts()
top_piores

raça/etnia
group B    2
group C    1
Name: count, dtype: int64

In [ ]:
#Comparação numero de H x M no top 100 melhores
df_tabela = df.sort_values(by='pontuação total', ascending=False).reset_index(drop=True)
top_100_estudantes = df_tabela.head(100)
top_100 = top_100_estudantes['gênero'].value_counts()
top_100

gênero
female    66
male      34
Name: count, dtype: int64

In [ ]:
#agrupamento de raça, lvl de escolaridade e curso em relação a pontuação média total das matérias
df.groupby(['raça/etnia', 'nível de escolaridade parental', 'curso de preparação para o teste'])['pontuação total'].mean().reset_index().round(2)

,raça/etnia,nível de escolaridade parental,curso de preparação para o teste,pontuação total
0,group A,associate's degree,completed,211.40
1,group A,associate's degree,none,180.67
2,group A,bachelor's degree,completed,214.75
3,group A,bachelor's degree,none,198.00
4,group A,high school,completed,202.71
5,group A,high school,none,171.82
6,group A,master's degree,none,190.00
7,group A,some college,completed,220.86
8,group A,some college,none,178.00
9,group A,some high school,completed,204.38
10,group A,some high school,none,167.19
11,group B,associate's degree,completed,228.86
12,group B,associate's degree,none,191.00
13,group B,bachelor's degree,completed,237.67
14,group B,bachelor's degree,none,209.71
15,group B,high school,completed,198.07
16,group B,high school,none,178.33
17,group B,master's degree,completed,221.33
18,group B,master's degree,none,227.67
19,group B,some college,completed,216.93
20,group B,some college,none,178.65
21,group B,some high school,completed,201.16
22,group B,some high school,none,184.58
23,group C,associate's degree,completed,220.43
24,group C,associate's degree,none,200.44
25,group C,bachelor's degree,completed,230.10
26,group C,bachelor's degree,none,209.35
27,group C,high school,completed,191.53
28,group C,high school,none,185.59
29,group C,master's degree,completed,216.67
30,group C,master's degree,none,198.50
31,group C,some college,completed,229.67
32,group C,some college,none,191.94
33,group C,some high school,completed,198.41
34,group C,some high school,none,182.19
35,group D,associate's degree,completed,226.86
36,group D,associate's degree,none,200.67
37,group D,bachelor's degree,completed,215.33
38,group D,bachelor's degree,none,206.89
39,group D,high school,completed,202.64
40,group D,high school,none,186.36
41,group D,master's degree,completed,231.67
42,group D,master's degree,none,228.65
43,group D,some college,completed,225.39
44,group D,some college,none,203.95
45,group D,some high school,completed,219.58
46,group D,some high school,none,197.42
47,group E,associate's degree,completed,230.79
48,group E,associate's degree,none,213.50
49,group E,bachelor's degree,completed,240.90
50,group E,bachelor's degree,none,209.12
51,group E,high school,completed,219.75
52,group E,high school,none,202.29
53,group E,master's degree,completed,287.50
54,group E,master's degree,none,220.50
55,group E,some college,completed,221.25
56,group E,some college,none,214.26
57,group E,some high school,completed,224.78
58,group E,some high school,none,191.67